*{
    padding: 0;
    background-color:hsl(212, 45%, 89%)
}
h3{
    background-color: white;
}
p{
    background-color: white;
    color: #484848;
}
main{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height:600px;
    padding: 10%;
}
section{
    padding:20px;
    display: flex;
    flex-direction: column;
    background-color: hsl(0, 0%, 100%);
    border-radius: 20px;
    text-align: center;
    width:375px;
}
.image{
    background-color: white;
}
img{ width:95%;
    border-radius: 20px;
    
}
.qrdata{
    background-color:hsl(0, 0%, 100%) ;
    width:300px;
    margin: 0 auto 0 auto;
}
@media (max-width:500px) {
 section{
    width:250px;
 }
 .qrdata{
    width:180px;
 }
}
